{% extends 'base.html' %}
{% block content %}

<h1>Cocktail Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ cocktail.name }}</span>
        <p>Type: {{ cocktail.type }}</p>
        <p>Description: {{ cocktail.description }}</p>
        <p>Difficulty: {{ cocktail.difficulty }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'cocktails_update' cocktail.id %}">Edit</a>
        <a href="{% url 'cocktails_delete' cocktail.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">

    <form action = "{% url 'add_preference' cocktail.id %}" method="POST">
      {% csrf_token %}
      {{ preference_form.as_p }}
      <input type="submit" class="btn" value="Add Preference">
    </form>

    <br>
    {% if cocktail.preference_for_today %}
      <div class="card-panel teal-text center-align">{{cocktail.name}} has utilized all glassware options</div>
    {% else %}
      <div class="card-panel red-text center-align">{{cocktail.name}} has no chosen glass today</div>
    {% endif %}

    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Glassware</th></tr>
      </thead>
      <tbody>
        {% for preference in cocktail.preference_set.all %}
          <tr>
            <td>{{preference.date}}</td>
            <td>{{preference.get_glassware_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ cocktail.name }}'s Ingredients</h3>
    {% if cocktail.ingredients.count %}
      {% for ingredient in cocktail.ingredients.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span style="color: green">{{ ingredient.unit }} </span>{{ ingredient.name }} <!-- span used to be here for color ???  from cat collector-->
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_ingredient' cocktail.id ingredient.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Ingredients :(</h5>
    {% endif %}
  </div>
  <!-- Available ingredient will come after this line -->
  <div class="col s6">
    <h3>Available Ingredients</h3>
    {% if ingredients.count %}
      {% for ingredient in ingredients.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ ingredient.unit }} {{ ingredient.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_ingredient' cocktail.id ingredient.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{cocktail.name}} Already Has All Ingredients Available</h5>
    {% endif %}
  </div>
</div>
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const selectEl = document.getElementById('id_glassware');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}